@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.About_Page_Background{
   
    height:100vh;
}
.About_Page_Structure{
    
    height:100vh;
    
}

.About_Page_Structure ul {
    display:grid;
    /* align-content: center; */
    list-style: none;
    height:60vh;
    margin:0;
    padding:0;
    gap: 0;
    column-gap: 1px;
     align-items: center;
    justify-items: center;
    /* padding-bottom: 20px; */
    grid-template-columns: auto auto;
   
}
.About_Page_Structure h1{
   
    
  margin-left:30px;
   font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  color:White;
  text-shadow: 0px 0px 10px white;
  font-style: normal;
  font-size: 40px;
}
.About_Page_Structure ul li{
    box-sizing: border-box;
    margin:0;
    padding:0;
    box-shadow:0px 0px 10px white;
    justify-content: center;
   border-radius: 15px;
   /* background-color: white; */
   border:1px solid white;
    padding: 20px;
}
.About_Page_Structure ul li:first-child{
    width: 500px; 
    height:50vh;
   
    
    
}
.About_Page_Structure ul li:last-child{
    width: 400px;
    
    height:60vh;
}
.About_Page_Structure p1{
    font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  color:White;
  text-shadow: 0px 0px 10px white;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  
}